In [1]:
import csv
import pandas as pd

In [3]:
df = pd.read_csv("cities.csv")
df.to_html('h_cities.html', index=False, classes=['table', 'table-striped', 'table-hover'])

In [4]:
df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Albany,90,US,1575520209,86,42.65,-73.75,32.00,1.34
1,Cessnock,0,AU,1575520209,16,-32.83,151.35,91.40,16.11
2,Atuona,21,PF,1575520209,73,-9.80,-139.03,80.08,12.97
3,Kikwit,95,CD,1575520209,87,-5.04,18.82,73.02,1.52
4,Ushuaia,75,AR,1575520210,75,-54.81,-68.31,44.60,28.86